body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  /* overflow-y: hidden; */
}

.App {
  text-align: center;
  background-color: #fdfdfd;
  /* max-height: 100%;
  max-width: 100%;   */

}

.ExperienceCards {
  margin: 1vw;
  padding: 1vw;
  /* overflow-y: scroll; */
  background-color: white;

  /* max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; */
}

.search {
  margin: 1vh;
}