body {
  padding: 1vh 5vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  /* overflow-y: hidden; */
}

.App {
  text-align: center;
  background-color: #fdfdfd;
  /* max-height: 100%;
  max-width: 100%;   */
}

.ExperienceCards {
  margin: 1vw;
  padding: 1vw;
  /* overflow-y: scroll; */
  background-color: white;

  /* max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; */
}

.search {
  margin: 1vh;
}


.ui.text.menu {
  justify-content: center;
}

.ui.segment.active.tab {
  border: 0;
  box-shadow: none;
}

.MarkdownElement {
  text-align: left;
  max-width: 900px;
  /* display: flex;
  justify-content: center; */
  margin: 0 auto !important;
}

img[src*="me.jpg"] {
  border-radius: 100%;
  max-width: 40%;
  margin: 5%;
  float: right;
}